.form {
    background-color: #0098D0;
    width: 100%;
    margin: 0 auto;
}
.formDiv {
    padding: 20px 0 20px 0;
    width: 80%;
    margin: 0 auto;
}

.btn-primary {
    background-color: #FF7700;
    border: none;
}

.btn-primary:hover {
    background-color: #fc8924;
    text-decoration: none;
    border: none;
}

.alert {
    margin-top: 15px;
}

body {
    background-color: #0098D0;
}